<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Paul Shinn (@Paul_Shinn)</string>
	<key>CFBundleDisplayName</key>
	<string>Favstar Tally</string>
	<key>CFBundleIdentifier</key>
	<string>com.meklarian.favstar-tally</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>prototype-1.6.1.js</string>
				<string>favstar-tally.user.js</string>
			</array>
		</dict>
		<key>Whitelist</key>
		<array>
			<string>http://favstar.fm/*</string>
		</array>
	</dict>
	<key>Description</key>
	<string>A script that allows users to tally people shown on favstar.fm pages.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>favstar.fm</string>
			</array>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://www.meklarian.com/extensions/objects/safari-update-manifest.plist</string>
</dict>
</plist>
